* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #1E1E20;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 404 page css */
.page404 {
    text-align: center;
    top: 50%;
    left: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
}

.page404text-large {
    font-size: 3em;
}

.page404text-medium {
    font-size: 2em;
}

.page404button {
    padding: 15px 45px;
    box-shadow: none;
    border-radius: 0;
    background: rgba(0,0,0,0);
    border: solid 2px #BBDEFB;
    color: #333333;
    font-size: 1.5em;
}

.page404button:hover {
   background-color: #BBDEFB;
   color: #FEFEFE;
   cursor: pointer;
}
