.login-area {
    background-color: #2A2C2B;
    color: #ECF0F1;
    width: 25%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .login-area label {
        text-align: center;
        display: flex;
        font-size: 1.3em;
    }

    .login-area input {
        display: flex;
        margin-bottom: 1em;
        background-color: #2A2C2B;
        color: #ECF0F1;
    }

    .login-area .sessid-info {
        display: flex;
        color: #0D6AE5;
        text-decoration: none;
        border-bottom: solid 1px #0D6AE5;
        text-align: center;
        font-size: 0.75em;
        margin-bottom: 2em;
    }
