.navbarHeader {
    background-color: #2A2C2B;
    overflow: hidden;
}

.navbarHeader a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333333;
    padding: 14px 16px;
}
